*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fa;
}

/* Hero */

.hero{
    height:50vh;
    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/about-hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    color:white;
}

.hero-content h1{
    font-size:55px;
}

.hero-content p{
    margin-top:15px;
    font-size:22px;
}

/* About */

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    padding:80px 10%;
}

.about-text h2{
    margin-bottom:20px;
    color:#2563eb;
}

.about-text p{
    line-height:1.8;
    color:#555;
}

.about-card{
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);
}

.about-card h3{
    margin-top:20px;
    color:#2563eb;
}

.about-card p{
    margin-top:10px;
    color:#555;
}

/* Stats */

.stats{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:30px;
    padding:60px 10%;
}

.stat-card{
    background:white;
    padding:40px;
    text-align:center;
    border-radius:15px;
    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);
}

.stat-card h1{
    color:#2563eb;
    margin-bottom:10px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:30px;
}

@media(max-width:768px){

    .about{
        grid-template-columns:1fr;
    }

    .hero-content h1{
        font-size:40px;
    }
}