*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fa;
}

.contact-section{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}

.contact-container{
    width:1100px;
    display:grid;
    grid-template-columns:1fr 1fr;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:
    0 10px 25px rgba(0,0,0,0.15);
}

.contact-info{
    background:#0f172a;
    color:white;
    padding:50px;
}

.contact-info h1{
    margin-bottom:20px;
}

.contact-info p{
    margin-bottom:20px;
    line-height:1.6;
}

.info-box{
    margin-top:30px;
}

.contact-form{
    padding:50px;
}

.contact-form h2{
    margin-bottom:30px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#2563eb;
}

button{
    width:100%;
    padding:15px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

@media(max-width:768px){

    .contact-container{
        grid-template-columns:1fr;
    }

    .contact-info,
    .contact-form{
        padding:30px;
    }
}